<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fafafa;
        }

        #weather-form {
            margin-bottom: 20px;
        }

        #cities-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }

        .city {
            border: 1px solid #c4c1e0;
            padding: 10px;
            border-radius: 5px;
            background-color: #c4c1e0;
            position: relative;
        }

        .delete-button {
            position: absolute;
            top: 10px;
            right: 5px;
            background-color: transparent;
            color: #ff895d;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body class="container-fluid py-4">
    <nav class="navbar navbar-light justify-content-between" style="background-color: #ffe9e3;">
        <a class="navbar-brand">Weather Board</a>
        <form id="weather-form" class="form-inline mt-2 mb-2">
            {% csrf_token %}
            <input type="text" id="location-input" class="form-control mr-2" placeholder="Start typing a location..." required>
            <input type="hidden" id="location-lat" name="lat">
            <input type="hidden" id="location-lon" name="lon">
            <button type="submit" class="btn btn-primary" style="background-color: #7c73e6;">Add</button>
        </form>
      </nav>

    <div id="weather-result" class="mb-4"></div>

    <!--Manage cards a list of cities. Update the list on add/remove-->
    <div id="cities-list">
        {% for city in cities %}       
            <div class="city" data-city-id="{{ city.id }}">
                <h5>{{ city.city.city_name }}, {{ city.city.country_code }}</h5>
                <hr class="solid">
                <div>Temperature: <strong>{{ city.current_temperature_C }} C</strong></div>
                <div>Condition: <strong>{{ city.current_condition }}</strong></div>
                <div>Humidity: <strong>{{ city.humidity }}%</strong></div>
                <div>Wind Speed: <strong>{{ city.wind_speed }} m/s</strong></div>
                <div>Updated: <em>{{ city.last_updated }}</em></div>
                <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
            </div>
        {% endfor %}
    </div>

    <script>
        $(document).ready(function() {
            $('#location-input').autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '{% url "autocomplete" %}',
                        data: {
                            q: request.term
                        },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return {
                                    label: item.label,
                                    lat: item.lat,
                                    lon: item.lon
                                };
                            }));
                        }
                    });
                },
                select: function(event, ui) {
                    $('#location-input').val(ui.item.label);
                    $('#location-lat').val(ui.item.lat);
                    $('#location-lon').val(ui.item.lon);
                    return false;
                },
                minLength: 2
            });

            $('#weather-form').on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: '{% url "get_weather_and_update" %}',
                    type: 'POST',
                    data: {
                        'lat': $('#location-lat').val(),
                        'lon': $('#location-lon').val(),
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function(data) {                        
                        if (data.error) {
                            alert('Failed to retrieve weather data. Please try again.');
                        } else {
                            $('#cities-list').html('');
                            data.cities.forEach(city => {
                            // TODO: avoid second card declaration
                            $('#cities-list').append(`
                            <div class="city" data-city-id="${city.city.id}">
                                <h5>${city.city.city_name}, ${city.city.country_code}</h5>
                                <hr class="solid">
                                <div>Temperature: <strong>${city.current_temperature_C} C</strong></div>
                                <div>Condition: <strong>${city.current_condition}</strong></div>
                                <div>Humidity: <strong>${city.humidity}%</strong></div>
                                <div>Wind Speed: <strong>${city.wind_speed} m/s</strong></div>
                                <div>Updated: <em>${ city.last_updated }</em></div>
                                <button class="delete-button"><i class="fas fa-trash-alt"></i></button>
                            </div>
                                `);
                            });

                            $('#location-input').val('')
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('Failed to retrieve weather data. Please try again.');
                    }
                });
            });

            $(document).on('click', '.delete-button', function() {
                var cityId = $(this).closest('.city').data('city-id');
                $.ajax({
                    url: '{% url "delete_city" %}',
                    type: 'DELETE',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    },
                    data: {
                        'id': cityId,
                    },
                    success: function(data) {
                        if (data.success) {
                            $(`.city[data-city-id=${cityId}]`).remove();
                        } else {
                            alert('Failed to delete the city. Please try again.');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('Failed to delete the city. Please try again.');
                    }
                });
            });
        });
    </script>
</body>
</html>
